<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='1.css') }}">
</head>
<body>
    <div class="content">
    <h6>IMPORT EXPORT MANAGEMENT SYSTEMS</h6>
    <h6>IMPORT EXPORT MANAGEMENT SYSTEMS</h6></div><br><br><br>
    <div class="container">
        <br><br><br><br>
        <div class="btn-container">
           <a href="/manufacturer_form.html" style="--clr:#10c2e6;" ><span>Manufacturer</span><i></i></a>
            
        </div>
    </div>
</body>
</html>
